* {
    margin: 0px;
    padding: 0px;
}
body {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}
.topcontainer{
    background-color: #9EA1D4;
}
.top-cloud {
    position: absolute;
    top: 10px;
    right: 450px;
}
.bottom-cloud {
    position: absolute;
    left: 450px;
}
h1 {
    font-size: 50px;
    padding-top: 60px;
    font-family: 'Fuzzy Bubbles', cursive;
}
.me {
    margin-top: 4%;
    height: 30%;
    width: 30%;
}
h2 {
    padding-top: 50px;
    font-family: 'Teko';
    font-size: 30px;
    color: #CB1C8D;
}
h3 {
    padding-top: 50px;
}
.bio {
    padding-bottom: 40px;
    color: #3F0071;
}
.line1 {
    border:none;
    border-top: black dotted;
    border-width: 7px;
    padding-top: 30px;
    height: 1px;
    width: 5%;
    margin: 0 auto 0 auto;
}
.middlecontainer {
    background-color: #F5F5F5;
    padding-bottom: 100px;
}
div{
    display: block;
}
.row1 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.web {
    color: #46C2CB;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 150px;
}
.theory {
    position: relative;
    left: 50px;
    text-align: center;
}
.skills {
    height: 100px;
    width: 100px;
    float: left;
    position: relative;
    top: 30px;
}
#con {
    padding-top: 50px;
    color: darkmagenta;
    padding-bottom: 50px;
}
.contact {
    width: 100px;
    height: 30px;
    background-color: #8d0a58;  
    color: white;  
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.contact:hover {
    background-color: cornflowerblue;
    color: black;
}
.bottomcontainer {
    background-color: #5C2E7E;
    padding: 50px;
}
.link {
    padding-left: 20px;
    padding-right: 20px;
    color: #C47AFF;
    text-decoration: none;
}
.link:hover {
    color: lavenderblush;
}
.copyright {
    font-size: 10px;
    color: white;
    padding-top: 25px;
}

